In [31]:
import pandas as pd

In [32]:
# read in original data as a dataframe
df = pd.read_csv('adult.data', header=None, skipinitialspace=True)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       32561 non-null  int64
 1   1       32561 non-null  object
 2   2       32561 non-null  int64
 3   3       32561 non-null  object
 4   4       32561 non-null  int64
 5   5       32561 non-null  object
 6   6       32561 non-null  object
 7   7       32561 non-null  object
 8   8       32561 non-null  object
 9   9       32561 non-null  object
 10  10      32561 non-null  int64
 11  11      32561 non-null  int64
 12  12      32561 non-null  int64
 13  13      32561 non-null  object
 14  14      32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [34]:
#Function for nominal data
#For attributes:
def nominal_two_values(x,y):
    if x == y and (x != '?' or x != '?'):
        return 1
    else:
        return 0

In [35]:
nominal_two_values('Private','Self-emp-not-inc')

0

In [36]:
nominal_two_values('Private','Private')

1

In [37]:
max_sample = df.max()
min_sample = df.min()
max_mins = [(max_sample[i], min_sample[i]) for i in range(len(max_sample))]
max_mins

[(90, 17),
 ('Without-pay', '?'),
 (1484705, 12285),
 ('Some-college', '10th'),
 (16, 1),
 ('Widowed', 'Divorced'),
 ('Transport-moving', '?'),
 ('Wife', 'Husband'),
 ('White', 'Amer-Indian-Eskimo'),
 ('Male', 'Female'),
 (99999, 0),
 (4356, 0),
 (99, 1),
 ('Yugoslavia', '?'),
 ('>50K', '<=50K')]

In [38]:
#Continuous Data
def continuous_two_values(x,y, max_min):
    if x == '?' or x == '?':
        return 0

    values_max = max_min[0]
    values_min = max_min[1]

    return 1-abs(x-y)/(values_max-values_min)

In [39]:
continuous_two_values(215646, 83311, max_mins[2])

0.9101241493595578

In [40]:
#Binary data
def binary_two_values(x,y):
    if x == y and (x != '?' or x != '?'):
        return 1
    else:
        return 0

In [41]:
#Ordinal data
def ordinal_two_values(x,y,values):
    if x == '?' or x == '?':
        return 0

    m = len(values)-1
    r_x = values.index(x)
    r_y = values.index(y)
    n_x = float(r_x-1)/(m-1)
    n_y = float(r_y-1)/(m-1)

    return 1-abs(n_x-n_y)/m

In [42]:
def mixed_attributes_two_values(x, y, data_frame=df, ranges=max_mins):
    distance = 0.0
    delta = 0
    types = ['continuous','nominal','continuous','nominal','continuous',
             'nominal','nominal','nominal','nominal','binary','continuous',
             'continuous','continuous','nominal']
    for i in range(14):
        xi, yi = x[i], y[i]
        if xi!='?' or yi!='?':
            t = types[i]
            if t == 'continuous':
                distance += continuous_two_values(xi, yi, ranges[i])
            if t == 'nominal':
                distance += nominal_two_values(xi, yi)
            if t == 'binary':
                distance += binary_two_values(xi, yi)
            if t == 'ordinal':
                distance += ordinal_two_values(xi, yi, ranges[i])
            delta += 1
    return distance/delta

In [43]:
mixed_attributes_two_values(df.iloc[2],df.iloc[3])

0.6891594536564108